<% if (locals.data) { %>  
<%- include("header") %>
<% data.forEach(result=>{ %>

<h1>
  Edit Claim (Claim Id = <%=result.claimid%>)
</h1>
<form id="updateform" onsubmit="update(this);">  
  <div><b>Customer: </b><%=result.customer%></div>
  <div><b>Product: </b><%=result.product%> <b>Product Id: </b><%=result.productid%></div>
  <div>
    <b>Issue: </b>
    <select id="issueList">
     <!--  keeping the selected letter visible in dropdown box -->
    <% if (locals.issues) { %> 
      <option value="" disabled selected hidden><%=result.issue%> </option>
      <% issues.forEach(issue=>{ %>
      <option value='<%=issue.name%>'><%=issue.name %></option>
       <% } )%>
   
    <% } %>
  </select>
  </div>
  <div>
    <b>Status: </b>
    <select id="status">
      <option value="" disabled selected hidden><%=result.status%></option>
      <%if (result.status==="Closed"){%>
      <option value='Open'>Open</option>
       <% }else{ %>
      <option value='Closed'>Closed</option>
      <% } %>
    </select>
  </div>
  
  <div>
    <b>Description: </b>
    <input value="<%=result.description%>" id="description" name="description" type="text" >
  </div>
  
  <div>
    <b>Employee: </b>
    <select id="employeeList">
       <!--  keeping the selected letter visible in dropdown box -->
      <% if (locals.issues) { %> 
        <option value="" disabled selected hidden><%=result.issue%> </option>
        <% issues.forEach(issue=>{ %>
        <option value='<%=issue.name%>'><%=issue.name %></option>
         <% } )%>

      <% } %>
    </select>
  </div>
<div>
  <% if (locals.comments) { %> 
 <b>Employee Comments: </b>
  <p>
    <% comments.forEach(comment=>{ %>
<%=comment.description%>-<%=result.employee%>
<%})%>
    <%}%>
  </p>
</div>
<div>
  <input value="" id="dateopened" name="dateopened" placeholder='<>' type="text" >
  <input value="" id="dateclosed" name="dateclosed" placeholder='<>' type="text" >
</div>
  
<div>
  <input value="" id="resolution" name="resolution" placeholder='<>' type="text" >  
</div>

<input type="submit"></form>

<script type=text/javascript>
 
  function update(form) {
    var product=element.name.split(";")[2];
    var productid=element.name.split(";")[1];
    var description=element.name.split(";")[0];
    var modal = document.getElementById("descriptionModal"); 
    var closeBtn = document.getElementsByClassName("close")[0];

    fetch('https://ejs-views-practice.glitch.me/api/claims/products/'+element.name.split(";")[1])
        .then((resp) => resp.json()) // Transform the data into json
        .then(function(data) {
          // console.log(JSON.stringify(data))
          //IF return no claims associated with this product, show the modal without providing a view claims button 
          if (data.length===0){
            document.getElementById("noclaims").style.display = "block";
            document.getElementById("claims").style.display = "none";
            document.getElementById("name").innerHTML=product;
            document.getElementById("description").innerHTML=description;
            modal.style.display = "block";
          }else{
            document.getElementById("noclaims").style.display = "none";
            document.getElementById("claims").style.display = "block";
            document.getElementById("claims").innerHTML="View "+data.length+" claims for this product";
            document.getElementById("name").innerHTML=product;
            document.getElementById("description").innerHTML=description;
            document.getElementById("claimsBtn").action="/products/claims/"+productid;
            modal.style.display = "block";
          }
      })  
  
    //close out of modal either when clicking 'x' or when clicking outside of the modal
    closeBtn.onclick = function() {
      modal.style.display = "none";
    }
    window.onclick = function(event) {
      if (event.target == modal) {
      modal.style.display = "none";
      }
    }
  }//end modal()
  
</script>
<%})%>
<%- include("footer") %>
<%}%>


