<body id= "home" class = "container">
<% if (locals.response){%>
<%- include("header") %>

  <% var datePurchase = new Date(response[0].date) %>
  <% datePurchase = (datePurchase.getMonth()+1) + "/" + datePurchase.getDate() + "/" +  datePurchase.getFullYear() %>

<h1 id= "hometitle" class = "h1 text-center mt-5">Order</h1>
  <h3>
    Customer: <%=response[0].firstname%> <%=response[0].lastname%>
  </h3>
  <h3>
    <b>Total Cost: </b><%=response[0].totalcost%>
  </h3>
  <h3>
    <b>Date: </b><%=datePurchase%> 
  </h3>
   
<table id="table" class="table table-hover">
  <thead>
    <tr>
      <th></th>
      <th>Product</th>
      <th>Product ID</th>
      <th>Item Number</th>
      <th>Unit Cost</th>
    </tr>
  </thead>
  <tbody>
  <% response.forEach(resp=>{%>
    <tr>
      <td>
<!--    if theres claim purchaseid matching response.purchaseid, show claim else give option to create one      -->
        <%var existingclaim = "false" %>
        <% claims.forEach(claim=>{ %>
        <% if (claim.productpurchaseid===resp.productpurchaseid){%>
          <% existingclaim = "true" %>
        <form>
          <button id = "homebtn" class = "btn btn-success w-50 h-50" formaction='/edit/<%=claim.claimid%>/orders' formmethod="GET" type="submit">View Claim</button>
        </form>
          
          <% }%>
         <%})%>
           <% if (existingclaim != "false"){%>
          <%}else{%>
        <button id = "homebtn" class = "btn btn-success w-50 h-50" onclick="claimModal('<%=resp.productpurchaseid%>')">Create Claim </button> 
        <% }%>
      </td>
      <td><%=resp.name%></td>
      <td><%=resp.productid%></td>
      <td><%=resp.productpurchaseid%></td>
      <td><%=resp.unitcost%></td>
     </tr>
    
    <%})%>

<!--  Create Claim Modal  -->
  <div id="createClaimModal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span><!-- close button -->
        <form id="updateform"> 
          
          <div class = "row mt-3">
            <div class = "col-sm-6">
            <b>Percieved Issue: </b>
            </div>
            <div class = "col-sm-6">
            <select id="issueList" class="w-100">
            <% if (locals.issues) { %> 
              <% issues.forEach(issue=>{ %>
              <option value='<%=issue.issueid%>'><%=issue.name %></option>
              <% } )%>
            <% } %>
            </select>
            </div>
          </div>
          
          <div class = "row mt-3">
            <div class = "col-sm-6">
            <b>Assign Claim to: </b>
            </div>
            <div class = "col-sm-6">
            <select id="employeeList" class="w-100"> 
            <% if (locals.employees) { %> 
              <% employees.forEach(employee=>{ %>
              <option value='<%=employee.employeeid%>'><%=employee.firstname %> <%=employee.lastname %></option>
              <% } )%>
            <% } %>
            </select>
          </div>
          </div>
          
          <div class = "row mt-3">
            <div class = "col-sm-6">
            <span id="purchaseid"></span>
            <b>Description: </b>
            </div>
            <div class = "col-sm-6">
              <input value="" id="description" type="text" class="w-100 h-100"> 
            </div>
          </div>
          <div class = "row mt-3">
          <button id = "homebtn" class= "btn btn-success responsive-width"  onclick="update();">Submit Customer's Claim</button>
             </div>
        </form>
      </div>
    </div>
  </div>
    
  </tbody>
</table>

<form>
<button id = "homebtn" class= "btn btn-success responsive-width" formaction="/orders" formmethod="GET" type="submit">Return</button>
</form>
  </body>

<script type=text/javascript>
 
  function claimModal(purchaseid) {
    document.getElementById("purchaseid").value = purchaseid;
    var modal = document.getElementById("createClaimModal"); 
    var closeBtn = document.getElementsByClassName("close")[0];
    modal.style.display = "block";
    //close out of modal either when clicking 'x' 
    closeBtn.onclick = function() {
      modal.style.display = "none";
    }
    //or close modal when clicking outside of the modal
    window.onclick = function(event) {
      if (event.target == modal) {
      modal.style.display = "none";
      }
    }
  }    
  
  function update(){ 

    fetch('https://techmagic.glitch.me/api/claims', {
        headers:{
          "content-type":"application/json",
        },
        body: JSON.stringify({
          productpurchaseid:document.getElementById("purchaseid").value,
          issueid: document.getElementById("issueList").value,
          description:document.getElementById("description").value,
          employeeid:document.getElementById("employeeList").value
        }),
          method: 'POST'
        }).then(resp=>{
        }, err=>{
          console.log(err);
        })
      // location = location //refresh

  }
  
</script>




<%- include("footer") %>
<%}%>
