<% if (locals.productPurchases){%>
<%- include("header") %>

<!-- purchase
customers
productPurchases
products
purchaseid -->

  <% var datePurchase = new Date(purchase[purchaseid-1].date) %>
  <% var datePurchase = (datePurchase.getMonth()+1) + "/" + datePurchase.getDate() + "/" +  datePurchase.getFullYear() %>
<div>
<h1>Order</h1>
  <h3>
    <b>Customer: </b><%=customers[purchase[purchaseid-1].customerid-1].firstname%> <%=customers[purchase[purchaseid-1].customerid-1].lastname%>
  </h3>
  <h3>
    <b>Total Cost: </b><%=purchase[purchaseid-1].totalcost%>
  </h3>
  <h3>
    <b>Date: </b><%=datePurchase%> 
  </h3>
</div>      

<table id="table" class="table table-hover">
  <thead>
    <tr>
      <th></th>
      <th>Product</th>
      <th>Product ID</th>
      <th>Item Number</th>
      <th>Unit Cost</th>
    </tr>
  </thead>
  <tbody>
  <% productPurchases.forEach(result=>{ %>
    <tr>
      <td><button><a href="#">Create Claim for Purchase</a></button></td>
      <td><%=products[result.productid -1].name%></td>
      <td><%=result.productid%></td>
      <td><%=result.productpurchaseid%></td>
      <td><%=products[result.productid -1].unitcost%></td>
     </tr> 
  <%})%>
  </tbody>
</table>


<button><a href="/orders">Return</a></button>






<%- include("footer") %>
<%}%>