<% if (locals.productPurchases){%>
<%- include("header") %>

<!-- purchaseTable
productpurchases
customer
product
claims
issues
employees -->

  <% var datePurchase = new Date(purchase[purchaseid-1].date) %>
  <% var datePurchase = (datePurchase.getMonth()+1) + "/" + datePurchase.getDate() + "/" +  datePurchase.getFullYear() %>
<div>
<h1>Order</h1>
  <h3>
    <b>Customer: </b><%=customers[purchase[purchaseid-1].customerid-1].firstname%> <%=customers[purchase[purchaseid-1].customerid-1].lastname%>
  </h3>
  <h3>
    <b>Total Cost: </b><%=purchase[purchaseid-1].totalcost%>
  </h3>
  <h3>
    <b>Date: </b><%=datePurchase%> 
  </h3>
</div>      

<table id="table" class="table table-hover">
  <thead>
    <tr>
      <th></th>
      <th>Product</th>
      <th>Product ID</th>
      <th>Item Number</th>
      <th>Unit Cost</th>
    </tr>
  </thead>
  <tbody>
  <% productPurchases.forEach(result=>{ %>
    <tr>
      <td>
        <%var existingclaim = "false" %>
        <% claims.forEach(claim=>{ %>
        <% if (claim.productpurchaseid===result.productpurchaseid){%>
          <%existingclaim = claim.claimid %>
          <% }%>
         <%})%>
           <% if (existingclaim != "false"){%>
          <button><a  href='/edit/<%=existingclaim%>/orders'>VIEW Claim</a></button>
          <%}else{%>
        <button onclick="claimModal()">Create Claim </button> 
        <% }%>
      </td>
      <td><%=products[result.productid -1].name%></td>
      <td><%=result.productid%></td>
      <td><%=result.productpurchaseid%></td>
      <td><%=products[result.productid -1].unitcost%></td>
     </tr>
    
<!--  Create Claim Modal  -->
  <div id="createClaimModal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span><!-- close button -->
      <div class="d-flex justify-content-center flex-column">
        <form id="updateform"> 
          <div>
            <b>Percieved Issue: </b>
            <select id="issueList">
            <% if (locals.issues) { %> 
              <% issues.forEach(issue=>{ %>
              <option value='<%=issue.id%>'><%=issue.name %></option>
              <% } )%>
            <% } %>
            </select>
          </div>
          <div>
          <div>
            <b>Assign Claim to: </b>
            <select id="employeeList">
            <% if (locals.employees) { %> 
              <% employees.forEach(employee=>{ %>
              <option value='<%=employee.employeeid%>'><%=employee.firstname %> <%=employee.lastname %></option>
              <% } )%>
            <% } %>
            </select>
          </div>
          <div>

          <div><b>Description: </b><input value="" id="description" type="text" > </div>
          <button onclick="update();">Submit Customer's Claim</button>
        </form>
      </div>
    </div>
  </div>
    
  <%})%>
  </tbody>
</table>


<button><a href="/orders">Return</a></button>


<script type=text/javascript>
 
  function claimModal() {
    var modal = document.getElementById("createClaimModal"); 
    var closeBtn = document.getElementsByClassName("close")[0];
    modal.style.display = "block";
    //close out of modal either when clicking 'x' 
    closeBtn.onclick = function() {
      modal.style.display = "none";
    }
    //or close modal when clicking outside of the modal
    window.onclick = function(event) {
      if (event.target == modal) {
      modal.style.display = "none";
      }
    }
  }    
  
   function update() {
    //grabbing element information from html to populate modal depending on which product row was selected
    var phone=element.name.split(";")[0];
    var email=element.name.split(";")[1];
    var title=element.name.split(";")[2];
    var name=element.name.split(";")[3];
    var modal = document.getElementById("employeeInfo"); 
    var closeBtn = document.getElementsByClassName("close")[0];
    document.getElementById("empPhone").innerHTML=phone;
    document.getElementById("empEmail").innerHTML=email;
    document.getElementById("empTitle").innerHTML=title;
    document.getElementById("empName").innerHTML=name;
    // document.getElementById("claimsBtn").action="/products/claims/"+productid;
    modal.style.display = "block";
     //close out of modal either when clicking 'x' 
    closeBtn.onclick = function() {
      modal.style.display = "none";
    }
    //or close modal when clicking outside of the modal
    window.onclick = function(event) {
      if (event.target == modal) {
      modal.style.display = "none";
      }
    }
  }//end function modal(element)
  
  function update(){ 
    fetch('https://ejs-views-practice.glitch.me/api/claims', {
        headers:{
          "content-type":"application/json",
        },
        body: JSON.stringify({
          productpurchaseid,
          issueid: issueList  
          description,
          employeeid
          
          // city:document.getElementById("city").value,

        }),
            method: 'POST'
        }).then(resp=>{
        }, err=>{
          console.log(err);
        })
      location = location //refresh
  }
  
</script>




<%- include("footer") %>
<%}%>
