<% if (locals.productPurchases){%>
<%- include("header") %>

<!-- purchaseTable
productpurchases
customer
product
claims
issues
employees -->

  <% var datePurchase = new Date(purchase[purchaseid].date) %>
  <% var datePurchase = (datePurchase.getMonth()+1) + "/" + datePurchase.getDate() + "/" +  datePurchase.getFullYear() %>
<div>
<h1>Order</h1>
  <h3>
    <b>Customer: </b><%=customers.customerid   .firstname%> <%=customers[purchase[purchaseid-1].customerid-1].lastname%>
  </h3>
  <h3>
    <b>Total Cost: </b><%=purchase[purchaseid-1].totalcost%>
  </h3>
  <h3>
    <b>Date: </b><%=datePurchase%> 
  </h3>
</div>      

<table id="table" class="table table-hover">
  <thead>
    <tr>
      <th></th>
      <th>Product</th>
      <th>Product ID</th>
      <th>Item Number</th>
      <th>Unit Cost</th>
    </tr>
  </thead>
  <tbody>
  <% productPurchases.forEach(result=>{ %>
    <tr>
      <td>
        <%var existingclaim = "false" %>
        <% claims.forEach(claim=>{ %>
        <% if (claim.productpurchaseid===result.productpurchaseid){%>
          <%existingclaim = claim.claimid %>
          <% }%>
         <%})%>
           <% if (existingclaim != "false"){%>
          <button><a  href='/edit/<%=existingclaim%>/orders'>VIEW Claim</a></button>
          <%}else{%>
        <button onclick="claimModal('<%=result.productpurchaseid%>')">Create Claim </button> 
        <% }%>
      </td>
      <td><%=products[result.productid -1].name%></td>
      <td><%=result.productid%></td>
      <td><%=result.productpurchaseid%></td>
      <td><%=products[result.productid -1].unitcost%></td>
     </tr>
      <%})%>

<!--  Create Claim Modal  -->
  <div id="createClaimModal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span><!-- close button -->
      <div class="d-flex justify-content-center flex-column">
        <form id="updateform"> 
          <div>
            <b>Percieved Issue: </b>
            <select id="issueList">
            <% if (locals.issues) { %> 
              <% issues.forEach(issue=>{ %>
              <option value='<%=issue.issueid%>'><%=issue.name %></option>
              <% } )%>
            <% } %>
            </select>
          </div>
          <div>
          <div>
            <b>Assign Claim to: </b>
            <select id="employeeList">
            <% if (locals.employees) { %> 
              <% employees.forEach(employee=>{ %>
              <option value='<%=employee.employeeid%>'><%=employee.firstname %> <%=employee.lastname %></option>
              <% } )%>
            <% } %>
            </select>
          </div>
          <div>
            <span id="purchaseid"></span>
            <div><b>Description: </b><input value="" id="description" type="text" > </div>
          <button onclick="update();">Submit Customer's Claim</button>
        </form>
      </div>
    </div>
  </div>
    
  </tbody>
</table>


<button><a href="/orders">Return</a></button>


<script type=text/javascript>
 
  function claimModal(purchaseid) {
    document.getElementById("purchaseid").value = purchaseid;
    var modal = document.getElementById("createClaimModal"); 
    var closeBtn = document.getElementsByClassName("close")[0];
    modal.style.display = "block";
    //close out of modal either when clicking 'x' 
    closeBtn.onclick = function() {
      modal.style.display = "none";
    }
    //or close modal when clicking outside of the modal
    window.onclick = function(event) {
      if (event.target == modal) {
      modal.style.display = "none";
      }
    }
  }    
  
  function update(){ 

    fetch('https://ejs-views-practice.glitch.me/api/claims', {
        headers:{
          "content-type":"application/json",
        },
        body: JSON.stringify({
          productpurchaseid:document.getElementById("purchaseid").value,
          issueid: document.getElementById("issueList").value,
          description:document.getElementById("description").value,
          employeeid:document.getElementById("employeeList").value
        }),
          method: 'POST'
        }).then(resp=>{
        }, err=>{
          console.log(err);
        })
      // location = location //refresh

  }
  
</script>




<%- include("footer") %>
<%}%>
