<!-- SORTABLE LIST OF ALL CLAIMS  -->

<%- include("partials/header") %>

<% if (locals.claims) { %> 
<h1>
  Claims
</h1>
create claims, edit and resolve claims, email techs any questions about claims
<%- include("partials/claim-edit") %>

<form method="get" action="/claims/customer">
    <b>Sort by: </b>
    <select id="issueList">
      <option value="" disabled selected hidden></option> <!--  keeping the selected issue visible in dropdown box -->
      <option value="customer" type="button" onclick="sortby(this);">Customer</option>
    </select>
</form>

  <div class="dropdown"> <!-- dropdown is a bootstrap class p sure, so is dropdown menu-->
    <button class="dropdown-toggle" type="button" data-toggle="dropdown">Sort by <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href='/claims/customer'>Customer</a></li>
      <li><a href='/claims/issue'>Issue</a></li>
      <li><a href='/claims/status'>Status</a></li>
      <li><a href='/claims/resolution'>Resolution</a></li>
      <li><a href='/claims/dateopened'>Date Open</a></li>
      <li><a href='/claims/employee'>Technician</a></li>
     </ul>
  </div>

<table class="table table-hover">
  <thead>
    <tr>
      <th></th>
      <th>Customer</th>
      <th>Product</th>
      <th>Issue</th>
      <th>Description</th>
      <th>Technician</th>
      <th>Open Date</th>
      <th>Status</th>
      <th>Resolution</th>
    </tr>
  </thead>
  <% claims.forEach(result=>{ %>
  <% var dateOpened = new Date(result.dateopened) %>
  <% var dateOpened = dateOpened.getDate() + "/" +  (dateOpened.getMonth()+1) + "/" + dateOpened.getFullYear() %>

  <tbody>
    <tr>
      <td>
        <div class="dropdown">
          <button class="dropdown-toggle" type="button" data-toggle="dropdown">Edit
          <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <% if (result.resolution==='unresolved') { %>
            <li><a href="#">Resolve</a></li>
            <%}%>
            <% if (result.status==='Closed') { %>
            <li><a href="">Re-open</a></li>
            <%}%>
            <% if (result.resolution!='unresolved' & result.status==='Open' ) {%>
            <li><a href="#">Close</a></li>
            <%}%>
            <li><a href='/edit/<%=result.claimid%>'>Edit Claim</a></li> 
          </ul>
        </div>
      </td>
      <td><%=result.customer%></td>
      <td><%=result.product%></td>
      <td><%=result.issue%></td>
      <td><%=result.description%></td>
      <td><%=result.employee%></td>
      <td><%= dateOpened %></td>
      <td><%=result.status%></td>
      <td><%=result.resolution%></td> 
    </tr> 
  </tbody>
  <%})%>

</table>
</p>

<script type=text/javascript>
 
  function sortby(element) {
    //grabbing element information from html to populate modal depending on which product row was selected
    console.log("hey")
    fetch('https://ejs-views-practice.glitch.me/claims/'+element.value)
        .then(function(data) {
        }
        .catch(function(error) {
          console.log(error);
        });
      })  
  
    //close out of modal either when clicking 'x' 
    closeBtn.onclick = function() {
      modal.style.display = "none";
    }
    //or close modal when clicking outside of the modal
    window.onclick = function(event) {
      if (event.target == modal) {
      modal.style.display = "none";
      }
    }
  }//end function modal(element)
  
</script>


<%}else{%>
<h1>
 No Claims Found
</h1>
<%}%>


<%- include("partials/footer") %>

