<!-- SORTABLE LIST OF ALL CLAIMS  -->

<%- include("partials/header") %>

<% if (locals.claims) { %> 
<h1>
  Claims
</h1>
create claims, edit and resolve claims, email techs any questions about claims
<%- include("partials/claim-edit") %>

<style>
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
}
</style>
</head>
<body>
   
<div class="container">
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Add Filter
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li class="dropdown-submenu">
        <a class="test dropdown-toggle" data-toggle="dropdown" tabindex="-1" href="#">Customer<span class="caret"></span></a>
        <ul>
          <li><a tabindex="0" href="#">2nd level dropdown</a></li>
          <li><a tabindex="0" href="#">2nd level dropdown</a></li>
        </ul>
      </li>      
    </ul>
  </div>
</div>

<div id="create">
    <button onClick="addFilter()">Add Filter</button>
</div>


<table class="table table-hover">
  <thead>
    <tr>
      <th></th>
      <th>Customer</th>
      <th>Product</th>
      <th>Issue</th>
      <th>Description</th>
      <th>Technician</th>
      <th>Open Date</th>
      <th>Status</th>
      <th>Resolution</th>
    </tr>
  </thead>
  <% claims.forEach(result=>{ %>
  <% var dateOpened = new Date(result.dateopened) %>
  <% var dateOpened = dateOpened.getDate() + "/" +  (dateOpened.getMonth()+1) + "/" + dateOpened.getFullYear() %>

  <tbody>
    <tr>
      <td>
        <div class="dropdown">
          <button class="dropdown-toggle" type="button" data-toggle="dropdown">Edit
          <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <% if (result.resolution==='unresolved') { %>
            <li><a href="#">Resolve</a></li>
            <%}%>
            <% if (result.status==='Closed') { %>
            <li><a href="">Re-open</a></li>
            <%}%>
            <% if (result.resolution!='unresolved' & result.status==='Open' ) {%>
            <li><a href="#">Close</a></li>
            <%}%>
            <li><a href='/edit/<%=result.claimid%>'>Edit Claim</a></li> 
          </ul>
        </div>
      </td>
      <td><%=result.customer%></td>
      <td><%=result.product%></td>
      <td><%=result.issue%></td>
      <td><%=result.description%></td>
      <td><%=result.employee%></td>
      <td><%= dateOpened %></td>
      <td><%=result.status%></td>
      <td><%=result.resolution%></td> 
    </tr> 
  </tbody>
  <%})%>

</table>
</p>

<script type=text/javascript>
  function addFilter() {
    var span = document.createElement('span');
    span.innerHTML = "hey";
    document.getElementById('create').appendChild(span)
  }  
  $(document).ready(function(){
  $('.dropdown-submenu a.test').on("click", function(e){
    $(this).next('ul').toggle();
    e.stopPropagation();
    e.preventDefault();
  });
    
      window.onclick = function(event) {
      if (event.target != dropdown) {
      document.getElementsByClassName("dropdown-menu").style.display = "none";
        
      document.getElementsByClassName("dropdown-submenu").style.display = "none";
      }
    }
});
</script>

<%}else{%>
<h1>
 No Claims Found
</h1>
<%}%>


<%- include("partials/footer") %>

