<!-- SORTABLE LIST OF ALL CLAIMS  -->

<%- include("partials/header") %>

<% if (locals.claims) { %> 
<h1>
  Claims
</h1>
create claims, edit and resolve claims, email techs any questions about claims
<%- include("partials/claim-edit") %>

  <div class="dropdown"> <!-- dropdown is a bootstrap class p sure, so is dropdown menu-->
    <button class="dropdown-toggle" type="button" data-toggle="dropdown">Sort by <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href='/claims/*/sortby/customer'>Customer</a></li>
      <li><a href='/claims/*/sortby/issue'>Issue</a></li>
      <li><a href='/claims/*/sortby/status'>Status</a></li>
      <li><a href='/claims/*/sortby/resolution'>Resolution</a></li>
      <li><a href='/claims/*/sortby/dateopened'>Date Open</a></li>
      <li><a href='/claims/*/sortby/employee'>Technician</a></li>
     </ul>
  </div>

<table class="table table-hover">
  <thead>
    <tr>
      <th></th>
      <th>Customer</th>
      <th>Product</th>
      <th>Issue</th>
      <th>Description</th>
      <th>Technician</th>
      <th>Open Date</th>
      <th>Status</th>
      <th>Resolution</th>
    </tr>
  </thead>
  <% claims.forEach(result=>{ %>
  <% var dateOpened = new Date(result.dateopened) %>
  <% var dateOpened = dateOpened.getDate() + "/" +  (dateOpened.getMonth()+1) + "/" + dateOpened.getFullYear() %>

  <tbody>
    <tr>
      <td>
        <div class="dropdown">
          <button class="dropdown-toggle" type="button" data-toggle="dropdown">Edit
          <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <% if (result.resolution==='unresolved') { %>
            <li><a href="#">Resolve</a></li>
            <%}%>
            <% if (result.status==='Closed') { %>
            <li><a href="">Re-open</a></li>
            <%}%>
            <% if (result.resolution!='unresolved' & result.status==='Open' ) {%>
            <li><a href="#">Close</a></li>
            <%}%>
            <li><a href='/edit/<%=result.claimid%>'>Edit Claim</a></li> 
          </ul>
        </div>
      </td>
      <td><%=result.customer%></td>
      <td><%=result.product%></td>
      <td><%=result.issue%></td>
      <td><%=result.description%></td>
      <td><%=result.employee%></td>
      <td><%= dateOpened %></td>
      <td><%=result.status%></td>
      <td><%=result.resolution%></td> 
    </tr> 
  </tbody>
  <%})%>

</table>
</p>
<%}else{%>
<h1>
 No Claims Found
</h1>
<%}%>


<%- include("partials/footer") %>

