<%- include("partials/header") %>

  <%var edit=false%>

<% if (locals.claims) { %> 
<h1>
  Claims
</h1>
  <button name='fa'class="button">Edit </button>

<%if (edit==true) {%>
<div class="dropdown">
  <button onclick="myFunction()" class="button">Edit Claims</button>
  <div id="dropdown" class="dropdown-content">
    <a href="">Create New </a>
    <a href="">Edit</a>
    <a href="">Resolve</a>
    <a href="">Close</a>
  </div>
</div>
<%}%>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Customer</th>
      <th>Product</th>
      <th>Issue</th>
      <th>Description</th>
      <th>Technician</th>
      <th>Open Date</th>
      <th>Status</th>
      <th>Resolution</th>
    </tr>
  </thead>
  <% claims.forEach(result=>{ %>
  <% var dateOpened = new Date(result.dateopened) %>
  <% var dateOpened = dateOpened.getDate() + "/" +  (dateOpened.getMonth()+1) + "/" + dateOpened.getFullYear() %>

  <tbody>
    <tr>
      <td><%=result.customer%></td>
      <td><%=result.product%></td>
      <td><%=result.issue%></td>
      <td><%=result.description%></td>
      <td><%=result.employee%></td>
      <td><%= dateOpened %></td>
      <td><%=result.status%></td>
      <td><%=result.resolution%></td>
    </tr>    
  </tbody>
  <%})%>

</table>
</p>
<%}else{%>
<h1>
 No Open Claims Found
</h1>
<%}%>

<script type=text/javascript>
/* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */
function myFunction() {
  document.getElementById("dropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.button')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>


<%- include("partials/footer") %>

