<!-- SORTABLE, FILTERABLE LIST OF ALL CLAIMS  -->

<%- include("partials/header") %>
<% if (locals.claims) { %> 
<h1>
  Claims
</h1>
create claims, edit and resolve claims, email techs any questions about claims, filter and sort claims
<%- include("partials/claim-edit") %>

<div id="addFilter">
  <button onclick="searchMenu()">
    Add Filter
  </button>
</div>

<div class="dropdown">
  <p id="menu" > Menu</p>
  <ul id="menu-box" style="display: none" class="dropdown-menu">
    <li><label for="menu-toggle">Customer</label>
      <input type="checkbox" id="menu-toggle"/>
      <ul id="menu">
        <%var array=[]%>
        <% claims.forEach(claim=>{ %>
        <%if (array.includes(claim.customer)){%>
        <%}else{%>
        <%array=array + claim.customer%>
        <li><a href="#" onclick="addFilterCustomer(this)"><%=claim.customer%></a></li>
        <%}})%>
      </ul>
    </li>
    <li><label for="menu2-toggle">Employee</label>
      <input type="checkbox" id="menu2-toggle"/>
      <ul id="menu2">
        <%var array=[]%>
        <% claims.forEach(claim=>{ %>
        <%if (array.includes(claim.employee)){%>
        <%}else{%>
        <%array=array + claim.employee%>
        <li><a href="#" onclick="addFilterEmployee(this,'<%claims%>')"><%=claim.employee%></a></li>
        <%}})%>
      </ul>
    </li>
    <li><label for="menu3-toggle">Products</label>
      <input type="checkbox" id="menu3-toggle"/>
      <ul id="menu3">
        <%var array=[]%>
        <% claims.forEach(claim=>{ %>
        <%if (array.includes(claim.product)){%>
        <%}else{%>
        <%array=array + claim.product%>
        <li><a href="#" onclick="addFilterEmployee(this)"><%=claim.product%></a></li>
        <%}})%>
      </ul>
    </li>
  </ul>
</div>

<div id="create" style="display:none">
  <b>Filters: </b>
</div>

  <div class="dropdown"> <!-- dropdown is a bootstrap class p sure, so is dropdown menu-->
    <b>Sort by:</b>
    <% if (locals.sort) { %>
    <button class="dropdown-toggle" type="button" data-toggle="dropdown"><%=sort.charAt(0).toUpperCase()+ sort.slice(1).toLowerCase()%><span class="caret"></span></button>
    <%}else{%>
        <button class="dropdown-toggle" type="button" data-toggle="dropdown"><span class="caret"></span></button>
    <%}%>
    <ul class="dropdown-menu">
<!--  <li><a href='/products/desc'>Descending Name</a></li>
      <li><a href='/products/greatest'>Most Expensive</a></li>
      <li><a href='/products/least'>Least Expensive</a></li> -->
     </ul>
  </div>

<table class="table table-hover">
  <thead>
    <tr>
      <th></th>
      <th>Customer</th>
      <th>Product</th>
      <th>Issue</th>
      <th>Description</th>
      <th>Technician</th>
      <th>Open Date</th>
      <th>Status</th>
      <th>Resolution</th>
    </tr>
  </thead>
  <% claims.forEach(result=>{ %>
  <% var dateOpened = new Date(result.dateopened) %>
  <% var dateOpened = dateOpened.getDate() + "/" +  (dateOpened.getMonth()+1) + "/" + dateOpened.getFullYear() %>

  <tbody>
    <tr>
      <td>
        <div class="dropdown">
          <button class="dropdown-toggle" type="button" data-toggle="dropdown">Edit
          <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <% if (result.resolution==='unresolved') { %>
            <li><a href="#">Resolve</a></li>
            <%}%>
            <% if (result.status==='Closed') { %>
            <li><a href="">Re-open</a></li>
            <%}%>
            <% if (result.resolution!='unresolved' & result.status==='Open' ) {%>
            <li><a href="#">Close</a></li>
            <%}%>
            <li><a href='/edit/<%=result.claimid%>'>Edit Claim</a></li> 
          </ul>
        </div>
      </td>
      <td><%=result.customer%></td>
      <td><%=result.product%></td>
      <td><%=result.issue%></td>
      <td><%=result.description%></td>
      <td><%=result.employee%></td>
      <td><%= dateOpened %></td>
      <td><%=result.status%></td>
      <td><%=result.resolution%></td> 
    </tr> 
  </tbody>
  <%})%>
</table>

<%}else{%>
<h1>
 No Claims Found
</h1>
<%}%>


<script type=text/javascript>
  function addFilterCustomer(ele) {
    fetch('https://ejs-views-practice.glitch.me/claims/filter/customer/'+ele.text)
    // .then(function(response) {
    // return response.text();
    // }).then(function(text) {
          // console.log(text)
.then(response => response.json())
.then(response => {

    console.log(response)


      // console.log(JSON.parse(data))
      window.location.href = ("/claims/redirect/"+response) //redirect

    })
    .catch(function(error) {
      console.log(error);
    }); 
    document.getElementById('create').style.display="block";
    var button = document.createElement('button');
    button.innerHTML = ele.text;
    button.setAttribute("id", ele.text)
    button.onclick = function () {
                removeFilter(ele.text);
            }
    document.getElementById('create').appendChild(button)
  } 
  
  function removeFilter(val) {
    document.getElementById(val).remove();
  }  
   
  function searchMenu() {
    var menuBox = document.getElementById('menu-box');    

    if(menuBox.style.display == "block") { 
      menuBox.style.display = "none";
    }
    else {
      menuBox.style.display = "block";
      menuBox.addEventListener('mouseleave', function(){
      closeMenu();
      });
    }
  }
  
  function closeMenu(){
    var menuBox = document.getElementById('menu-box');    
    if(menuBox.style.display == "block") { 
    menuBox.style.display = "none";
    }
  }  
</script>




<%- include("partials/footer") %>

