<%- include("partials/header") %>


<% if (locals.claims) { %> 
<h1>
  Closed Claims
</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Customer</th>
      <th>Product</th>
      <th>Issue</th>
      <th>Description</th>
      <th>Technician</th>
      <th>Open Date</th>
      <th>Resolution</th>
    </tr>
  </thead>
  <% claims.forEach(result=>{ %>
<% var myDate = new Date(result.dateopened) %>
<% var output = myDate.getDate() + "\\" +  (myDate.getMonth()+1) + "\\" + myDate.getFullYear() %>

  <tbody>
    <tr>
      <td><%=result.customer%></td>
      <td><%=result.product%></td>
      <td><%=result.issue%></td>
      <td><%=result.description%></td>
      <td><%=result.employee%></td>
      <td><%= output %></td>
      <td><%=result.resolution%></td>
    </tr>    
  </tbody>
  <%})%>

</table>
</p>
<%}else{%>
<h1>
 No Closed Claims Found
</h1>
<%}%>

<%- include("partials/footer") %>
