<!-- SORTABLE LIST OF ALL CUSTOMERS  -->

<%- include("partials/header") %>

<% if (locals.customers) { %> 
<h1>
  Customers
</h1>
  Goals for this page: sort customers ✓, create customers ✓

  <div class="dropdown"> <!-- dropdown is a bootstrap class p sure, so is dropdown menu-->
    <b>Sort by:</b>
    <% if (locals.sort) { %>
    <button class="dropdown-toggle" type="button" data-toggle="dropdown"><%=sort.charAt(0).toUpperCase()+ sort.slice(1).toLowerCase()%><span class="caret"></span></button>
    <%}else{%>
        <button class="dropdown-toggle" type="button" data-toggle="dropdown"><span class="caret"></span></button>
    <%}%>
    <ul class="dropdown-menu">
      <li><a href='/customers/asc'>Ascending Last Name</a></li>
      <li><a href='/customers/desc'>Descending Last Name</a></li>
      <li><a href='/customers/greatest'>Greatest Expenditure</a></li>
      <li><a href='/customers/least'>Least Expenditure</a></li>
     </ul>
  </div>

<button  onclick="newCustModal()">Create New Customer</button>

<table class="table table-hover">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Total Customer Expenditure</th>
    </tr>
  </thead>
  <% customers.forEach(result=>{ %>
  <tbody>
    <tr>
      <td><%=result.firstname%></td>
      <td><%=result.lastname%></td>
      <td><%=result.income%></td>
    </tr>    
  </tbody>
  <%})%>
</table>

<!-- Adding New Customer Modal -->
<div id="newCustomerModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span><!-- close button -->
    <div class="d-flex justify-content-center flex-column">
      <form id="updateform">  
        <div><b>First Name: </b><input value="" id="firstname" type="text" > </div>
        <div><b>Last Name: </b><input value="" id="lastname" type="text" > </div>
        <div><b>Email: </b><input value="" id="email"  type="text" > </div>
        <div><b>Phone Number: </b><input value="" id="phone" type="text" > </div>
        <div><b>Street Address: </b><input value="" id="address1" type="text" > </div>
        <div><b>Street Address 2: </b><input value="" id="address2" type="text" > </div>
        <div><b>City : </b><input value="" id="city"  type="text" > </div>
        <div><b>State(Abr): </b><input value="" id="state" type="text" > </div>
        <div><b>Zip: </b><input value="" id="zip"  type="text" > </div>
        <button onclick="update();">Submit New Customer</button>
      </form>
    </div>
  </div>
</div>


<script type=text/javascript>
 
  function newCustModal() {
    var modal = document.getElementById("newCustomerModal"); 
    var closeBtn = document.getElementsByClassName("close")[0];
    modal.style.display = "block";

    //close out of modal either when clicking 'x' 
    closeBtn.onclick = function() {
      modal.style.display = "none";
    }
    //or close modal when clicking outside of the modal
    window.onclick = function(event) {
      if (event.target == modal) {
      modal.style.display = "none";
      }
    }
  }  
  
  function update(){ 
    fetch('https://ejs-views-practice.glitch.me/api/customers/address', {
        headers:{
          "content-type":"application/json",
        },
        body: JSON.stringify({
          city:document.getElementById("city").value,
          state:document.getElementById("state").value,
          streetaddress:document.getElementById("address1").value,
          streetaddress2:document.getElementById("address2").value,
          zip:document.getElementById("zip").value,
          email:document.getElementById("email").value,
          firstname:document.getElementById("firstname").value,
          lastname:document.getElementById("lastname").value,
          phone:document.getElementById("phone").value
        }),
            method: 'POST'
        }).then(resp=>{
        }, err=>{
          console.log(err);
        })
      location = location //refresh
  }
  
</script>

<% } %>

<%- include("partials/footer") %>
