<!-- SORTABLE LIST OF ALL CUSTOMERS  -->

<%- include("partials/header") %>

<% if (locals.customers) { %> 
<h1>
  Customers
</h1>
  Goals for this page: sort customers ✓, create customers

  <div class="dropdown"> <!-- dropdown is a bootstrap class p sure, so is dropdown menu-->
    <b>Sort by:</b>
    <% if (locals.sort) { %>
    <button class="dropdown-toggle" type="button" data-toggle="dropdown"><%=sort.charAt(0).toUpperCase()+ sort.slice(1).toLowerCase()%><span class="caret"></span></button>
    <%}else{%>
        <button class="dropdown-toggle" type="button" data-toggle="dropdown"><span class="caret"></span></button>
    <%}%>
    <ul class="dropdown-menu">
      <li><a href='/customers/asc'>Ascending Last Name</a></li>
      <li><a href='/customers/desc'>Descending Last Name</a></li>
      <li><a href='/customers/greatest'>Greatest Expenditure</a></li>
      <li><a href='/customers/least'>Least Expenditure</a></li>
     </ul>
  </div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Total Customer Expenditure</th>
    </tr>
  </thead>
  <% customers.forEach(result=>{ %>
  <tbody>
    <tr>
      <td><%=result.firstname%></td>
      <td><%=result.lastname%></td>
      <td><%=result.income%></td>
    </tr>    
  </tbody>
  <%})%>

<% } %>

<%- include("partials/footer") %>
