<!-- SORTABLE LIST OF ALL CUSTOMERS  -->

<%- include("partials/header") %>

<% if (locals.customers) { %> 
<h1>
  Customers
</h1>
create customer

<form id="sort" method="get">
  <div class="dropdown"> <!-- dropdown is a bootstrap class p sure, so is dropdown menu-->
    <button class="dropdown-toggle" type="button" data-toggle="dropdown">Sort by <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><button type="submit" formaction="/customers/asc"> Ascending Last Name </button></li>
      <li><button type="submit" formaction="/customers/desc"> Descending Last Name </button></li>
      <li><button type="submit" formaction="/customers/expendasc"> Greatest Expenditure </button></li>
      <li><button type="submit" formaction="/customers/expenddesc"> Least Expenditure </button></li>
    </ul>
  </div>
</form>

<table class="table table-hover">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Total Customer Expenditure</th>
    </tr>
  </thead>
  <% customers.forEach(result=>{ %>
  <tbody>
    <tr>
      <td><%=result.firstname%></td>
      <td><%=result.lastname%></td>
      <td><%=result.income%></td>
    </tr>    
  </tbody>
  <%})%>

<% } %>

<%- include("partials/footer") %>
