<%- include("partials/header") %>


<% if (locals.customers) { %> 
<h1>
  Customers
</h1>
create customer
<table class="table table-hover">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Total Customer Expenditure</th>
    </tr>
  </thead>
  <% customers.forEach(result=>{ %>
  <tbody>
    <tr>
      <td><%=result.firstname%></td>
      <td><%=result.lastname%></td>
      <td><%=result.income%></td>
    </tr>    
  </tbody>
  <%})%>

<% } %>

<%- include("partials/footer") %>
