<%- include("partials/header") %>


<% if (locals.employees) { %> 
<h1>
  Employees
</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Title</th>
    </tr>
  </thead>
  <tbody>
  <% employees.forEach(result=>{ %>
    <tr>
      <td><%=result.firstname%></td>
      <td><%=result.lastname%></td>
      <td><%=result.title%></td>
    </tr>    
  <%})%>
  </tbody>
</table>
<% } %>

  <button><a href="/">Return</a></button>

<%- include("partials/footer") %>