<!-- CLICKABLE LIST OF ALL EMPLOYEES  -->

<%- include("partials/header") %>

<% if (locals.employees) { %> 
<h1>
  Employees
</h1>
create employee
<form id="sort" method="get">
  <div class="dropdown">
    <button class="dropdown-toggle" type="button" data-toggle="dropdown">Sort by
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><button type="submit" formaction="/employees/asc"> asc </button></li>
      <li><button type="submit" formaction="/employees/desc"> desc </button></li>
      <li><button type="submit" formaction="/employees/asc"> asc </button></li>
    </ul>
  </div>
</form>

<form id="asc" method="get" >
  
</form>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Title</th>
    </tr>
  </thead>
  <tbody>
  <% employees.forEach(result=>{ %>
    <tr>
      <td><%=result.firstname%> <%=result.lastname%></td>
      <td><%=result.title%></td>
    </tr>    
  <%})%>
  </tbody>
</table>
<% } %>


<%- include("partials/footer") %>