<!-- CLICKABLE, SORTABLE LIST OF ALL EMPLOYEES  -->

<%- include("partials/header") %>

<% if (locals.employees) { %> 
<h1>
  Employees
</h1>
  Goals for this page: sort employees ✓, view employee information with modal, edit employee information, create employee

  <div class="dropdown"> <!-- dropdown is a bootstrap class p sure, so is dropdown menu-->
    <b>Sort by:</b>
    <% if (locals.sort) { %>
    <button class="dropdown-toggle" type="button" data-toggle="dropdown"><%=sort.charAt(0).toUpperCase()+ sort.slice(1).toLowerCase()%><span class="caret"></span></button>
    <%}else{%>
    <button class="dropdown-toggle" type="button" data-toggle="dropdown"><span class="caret"></span></button>
    <%}%>
    <ul class="dropdown-menu">
      <li><a href='/employees/asc'>Ascending Last Name</a></li>
      <li><a href='/employees/desc'>Descending Last Name</a></li>
      <li><a href='/employees/title'>Title</a></li>
     </ul>
  </div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Title</th>
    </tr>
  </thead>
  <tbody>
  <% employees.forEach(result=>{ %>
    <tr>
      <td><%=result.firstname%> <%=result.lastname%></td>
      <td><%=result.title%></td>
    </tr>    
  <%})%>
  </tbody>
</table>
<% } %>


<%- include("partials/footer") %>