<!-- CLICKABLE, SORTABLE LIST OF ALL EMPLOYEES  -->

<%- include("partials/header") %>

<% if (locals.employees) { %> 
<h1>
  Employees
</h1>
  Goals for this page: sort employees ✓, view employee information with modal, edit employee information, create employee

  <div class="dropdown"> <!-- dropdown is a bootstrap class p sure, so is dropdown menu-->
    <b>Sort by:</b>
    <% if (locals.sort) { %>
    <button class="dropdown-toggle" type="button" data-toggle="dropdown"><%=sort.charAt(0).toUpperCase()+ sort.slice(1).toLowerCase()%><span class="caret"></span></button>
    <%}else{%>
    <button class="dropdown-toggle" type="button" data-toggle="dropdown"><span class="caret"></span></button>
    <%}%>
    <ul class="dropdown-menu">
      <li><a href='/employees/asc'>Ascending Last Name</a></li>
      <li><a href='/employees/desc'>Descending Last Name</a></li>
      <li><a href='/employees/title'>Title</a></li>
     </ul>
  </div>

<button  onclick="employeeModal()">Create New Employee</button>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Title</th>
    </tr>
  </thead>
  <tbody>
  <% employees.forEach(result=>{ %>
    <tr>
      <td><input type="button" class="clickable-row" onclick="preview(this)" name='<%=result.phone%>;<%=result.email%>;<%=result.title%>;<%=result.firstname%> <%=result.lastname%>' value='<%=result.firstname%> <%=result.lastname%>'></td>
      <td><input type="button" class="clickable-row" onclick="preview(this)" name='<%=result.phone%>;<%=result.email%>;<%=result.title%>;<%=result.firstname%> <%=result.lastname%>' value='<%=result.title%>'></td>
    </tr>    
  <%})%>
  </tbody>
</table>
<% } %>

<!-- Adding New Employee Modal -->
<div id="newEmployeeModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span><!-- close button -->
    <div class="d-flex justify-content-center flex-column">
      <form id="updateform">  
        <span><b>First Name: </b><input value="" id="firstname" type="text" > </span>
        <span><b>Last Name: </b><input value="" id="lastname" type="text" > </span>
        <span><b>Title: </b><input placeholder="Support or Admin" value="" id="title" type="text" > </span>
        <span><b>Email: </b><input value="" id="email"  type="text" > </span>
        <span><b>Phone Number: </b><input value="" id="phone" type="text" > </span>
        <span><b>Street Address: </b><input value="" id="address1" type="text" > </span>
        <span><b>Street Address 2: </b><input value="" id="address2" type="text" > </span>
        <span><b>City : </b><input value="" id="city"  type="text" > </span>
        <span><b>State(Abr): </b><input value="" id="state" type="text" > </span>
        <span><b>Zip: </b><input value="" id="zip"  type="text" > </span>
        <button onclick="update();">Submit New Employee</button>
      </form>
    </div>
  </div>
</div>

<!-- Previewing Employee Information -->
<div id="employeeInfo" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span><!-- close button -->
    <div class="d-flex justify-content-center flex-column">
      <span><b>Name: </b></span>
      <span><b>Title: </b></span>
      <span><b>Email: </b></span>
      <span><b>Phone Number: </b></span>
    </div>
  </div>
</div>


<script type=text/javascript>
 
  function employeeModal() {
    var modal = document.getElementById("newEmployeeModal"); 
    var closeBtn = document.getElementsByClassName("close")[0];
    modal.style.display = "block";
    //close out of modal either when clicking 'x' 
    closeBtn.onclick = function() {
      modal.style.display = "none";
    }
    //or close modal when clicking outside of the modal
    window.onclick = function(event) {
      if (event.target == modal) {
      modal.style.display = "none";
      }
    }
  }    
  
   function preview(element) {
    //grabbing element information from html to populate modal depending on which product row was selected
    var phone=element.name.split(";")[0];
    var email=element.name.split(";")[1];
    var title=element.name.split(";")[2];
    var name=element.name.split(";")[3];
    var modal = document.getElementById("employeeInfo"); 
    var closeBtn = document.getElementsByClassName("close")[0];

    
    fetch('https://ejs-views-practice.glitch.me/api/claims/products/'+element.name.split(";")[1])
        .then((resp) => resp.json()) //transform the data into json for workability 
        .then(function(data) {
          //IF return no claims associated with this product, show the modal without providing a view claims button 
          if (data.length===0){ //modal without button 
            document.getElementById("noclaims").style.display = "block";
            document.getElementById("claims").style.display = "none";
            document.getElementById("name").innerHTML=product;
            document.getElementById("description").innerHTML=description;
            modal.style.display = "block";
          }else{ //modal with button 
            document.getElementById("noclaims").style.display = "none";
            document.getElementById("claims").style.display = "block";
            document.getElementById("claims").innerHTML="View "+data.length+" claims for this product";
            document.getElementById("name").innerHTML=product;
            document.getElementById("description").innerHTML=description;
            document.getElementById("claimsBtn").action="/products/claims/"+productid;
            modal.style.display = "block";
          }
      })  
  
    //close out of modal either when clicking 'x' 
    closeBtn.onclick = function() {
      modal.style.display = "none";
    }
    //or close modal when clicking outside of the modal
    window.onclick = function(event) {
      if (event.target == modal) {
      modal.style.display = "none";
      }
    }
  }//end function modal(element)
  
  function update(){ 
    fetch('https://ejs-views-practice.glitch.me/api/employees/address', {
        headers:{
          "content-type":"application/json",
        },
        body: JSON.stringify({
          city:document.getElementById("city").value,
          state:document.getElementById("state").value,
          streetaddress:document.getElementById("address1").value,
          streetaddress2:document.getElementById("address2").value,
          zip:document.getElementById("zip").value,
          email:document.getElementById("email").value,
          firstname:document.getElementById("firstname").value,
          lastname:document.getElementById("lastname").value,
          phone:document.getElementById("phone").value,
          title:document.getElementById("phone").value
        }),
            method: 'POST'
        }).then(resp=>{
        }, err=>{
          console.log(err);
        })
      location = location //refresh
  }
  
</script>


<%- include("partials/footer") %>