<!-- CLICKABLE LIST OF ALL EMPLOYEES  -->

<%- include("partials/header") %>

<% if (locals.employees) { %> 
<h1>
  Employees
</h1>
create employee

<form id="claimsBtn" method="get">
  <button type="submit" id="claims">View Claims for this product</button>  <!-- need button to be in a form to later redirect by setting form's action in javascript below -->
</form>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Title</th>
    </tr>
  </thead>
  <tbody>
  <% employees.forEach(result=>{ %>
    <tr>
      <td><%=result.firstname%> <%=result.lastname%></td>
      <td><%=result.title%></td>
    </tr>    
  <%})%>
  </tbody>
</table>
<% } %>


<%- include("partials/footer") %>