<%- include("partials/header") %>


<% if (locals.claims) { %> 
<h1>
  Open Claims
</h1>
<% claims.forEach(result=>{ %>
<% var myDate = new Date(result.dateopened) %>
<% var output = myDate.getDate() + "\\" +  (myDate.getMonth()+1) + "\\" + myDate.getFullYear() %>

<table class="table table-hover">
  <tr class ="row">
    <th class ="col-1">Customer</th>
    <th class ="col-1">Product</th>
    <th class ="col">Issue</th>
    <th class ="col">Description</th>
    <th class ="col">Technician</th>
    <th class ="col">Open Date</th>
    <th class ="col">Resolution</th>
  </tr>
  <tr class ="row">
    <td class ="col"><%=result.customer%></td>
    <td class ="col"><%=result.product%></td>
    <td class ="col"><%=result.issue%></td>
    <td class ="col"><%=result.description%></td>
    <td class ="col"><%=result.employee%></td>
    <td class ="col"><%= output %></td>
    <td class ="col"><%=result.resolution%></td>
  </tr>
</table>
</p>
<%})%>
<%}else{%>
<h1>
 No Open Claims
</h1>
<%}%>


<%- include("partials/footer") %>
