<%- include("partials/header") %>
<!-- need to import purchase and productPurchase tables -->


<% if (locals.customers){%>
<h1>Orders</h1>
<%- include("partials/vieworder") %>
<p>
  Goals for this page: create purchases(orders), create claims based on purchases ✓, view purchases ✓
</p>

<button onclick="orderModal()">Create Order</button>

<table id="table" class="table table-hover">
  <thead>
    <tr>
      <th></th>
      <th>Order Number</th>
      <th>Customer</th>
      <th>Total Price</th>
      <th>Date</th>
    </tr>
  </thead>
  <% purchase.forEach(result=>{ %>
  <% var datePurchase = new Date(result.date) %>
  <% var datePurchase = (datePurchase.getMonth()+1) + "/" + datePurchase.getDate() + "/" +  datePurchase.getFullYear() %>

  <tbody>
    <tr>
      <td><button><a href="/purchases/<%=result.purchaseid%>">View Order</a></button></td>
      <td><%=result.purchaseid%></td>
      <td><%=customers[result.customerid-1].firstname%> <%=customers[result.customerid-1].lastname%></td>
      <td><%=result.totalcost%></td>
      <td><%=datePurchase%></td>
     </tr> 
  </tbody>
  <%})%>
</table>

<!--  Create Order Modal  (need customer list and product list)-->
  <div id="createOrderModal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span><!-- close button -->
      <div class="d-flex justify-content-center flex-column">
        <form id="createform"> 
          <div>
            <b>Customer: </b>
            <select id="customerList">
            <% if (locals.customers) { %> 
              <% customers.forEach(customer=>{ %>
              <option value='<%=customer.customerid%>'><%=customer.firstname %> <%=customer.lastname %></option>
              <% } )%>
            <% } %>
            </select>
          </div>
          <b>Products Purchased:</b>
          <div id="product">
            <select class="selectProducts" id="productList">
            <% if (locals.products) { %> 
              <% products.forEach(product=>{ %>
              <option value='<%=product.productid%>;<%=product.unitcost%>'><%=product.name%></option>
              <% } )%>
            <% } %>
            </select>
          </div>          
          <% if (locals.products) { %> 
              <% var nameArr=[]%>
              <% var idArr=[]%>
              <% var costArr=[]%>
              <% products.forEach(product=>{ %>
                <% nameArr.push(product.name)%>
                <% idArr.push(product.productid)%>
                <% costArr=costArr + product.unitcost+";"%>
              <% } )%>
            <% } %>
          <div><p id="para" onclick="createProductDiv('<%=nameArr%>','<%=idArr%>','<%=costArr%>');">+ Add Product</p></div>
          <button  onclick="addProducts();">Submit New Order</button>
        </form>
      </div>
    </div>
  </div>


<%}else{%>
<h1>
 No Orders Found
</h1>
<%}%>

<script>
  var count=0;
  document.getElementById("para").addEventListener("click", function(){count+=1});

  
  function addProducts(){ /////WHERE ADDING PURCHASES HAPPENS
    //get total number of select elements -> use that # for loop when inserting products into product purchase table
    //get product costs and total them
    var total = 0;;
    var productids=[];
    for (var i = 1; i<document.getElementsByTagName("select").length; i++){ //first item in this array applies to customers, not products
      productids.push(document.getElementsByTagName("select")[i].value.split(";")[0]) //productid
      var unitcost= document.getElementsByTagName("select")[i].value.split(";")[1] //unitcost
      unitcost = Number(unitcost.replace(/[^0-9.-]+/g,""))
      total=total+unitcost
    }
    //post to purchases -send customerid,total & get back purchaseid
    fetch('https://ejs-views-practice.glitch.me/api/purchases', {
        headers:{
          "content-type":"application/json",
        },
        body: JSON.stringify({
          totalcost:total,
          customerid: document.getElementById("customerList").value,
          productids: productids
        }),
        method: 'POST'
        }).then(resp=>{
        }, err=>{
          console.log(err);
        })
    }
    //use purchaseid to insert the products(selected) into productpurchase table
    //update purchase with total cost 
    //get customer income and then update with new costs from this transaction

  
  function createProductDiv(productnames, productids,unitcost){
    var div = document.createElement('div')
    var select = document.createElement('select');
    select.setAttribute("id", count);
    document.getElementById("product").appendChild(div)
    div.appendChild(select);
    productnames = (productnames.split(","))
    productids = (productids.split(","))
    unitcost = (unitcost.split(";"))
    for (var i = 0; i<productnames.length; i++){
      var option = document.createElement("option");
      option.setAttribute("value", (productids[i]+";"+unitcost[i]));
      var optiontext = document.createTextNode(productnames[i]);
      option.appendChild(optiontext);
      document.getElementById(count).appendChild(option);
    }
  }
  
  function orderModal() {

      var modal = document.getElementById("createOrderModal"); 
      var closeBtn = document.getElementsByClassName("close")[0];
      modal.style.display = "block";
      //close out of modal either when clicking 'x' 
      closeBtn.onclick = function() {
        modal.style.display = "none";
        location=location;
      }
  } 

</script>




<%- include("partials/footer") %>