<%- include("partials/header") %>

<% if (locals.products) { %> 
<h1>
  Products
</h1>
<p>
  create new product
</p>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Unit Cost</th>
    </tr>
  </thead>
  <tbody>
  <% products.forEach(result=>{ %>
    <tr > 
      <!--  ** using 'name' attribute to access related variables through javascript function **    -->
      <td><input type="button" class="clickable-row" onclick="modal(this)" name='<%=result.description%>;<%=result.productid%>;<%=result.name%>' value='<%=result.name%>'></td>
      <td><input type="button" class="clickable-row" onclick="modal(this)" name='<%=result.description%>;<%=result.productid%>;<%=result.name%>' value='<%=result.unitcost%>'></td>
    </tr>
  <%})%>
  <% } %>
  </tbody> 
<div id="descriptionModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <div class="d-flex justify-content-center flex-column">
      <h2 id="name" >Product Name</h2>
      <p id="description">Product description</p>
      <form id="claimsBtn" method="get">
        <button type="submit" id="claims">View Claims</button>
      </form>
     <p id="noclaims">No claims for this product</p>
    </div>
  </div>
</div>


<script type=text/javascript>
 
  function modal(element) {
    var product=element.name.split(";")[2];
    var productid=element.name.split(";")[1];
    var description=element.name.split(";")[0];
    var modal = document.getElementById("descriptionModal"); 
    var closeBtn = document.getElementsByClassName("close")[0];

    fetch('https://ejs-views-practice.glitch.me/api/claims/products/'+element.name.split(";")[1])
        .then((resp) => resp.json()) // Transform the data into json
        .then(function(data) {
          // console.log(JSON.stringify(data))
          //IF return no claims associated with this product, show the modal without providing a view claims button 
          if (data.length===0){
            document.getElementById("noclaims").style.display = "block";
            document.getElementById("claims").style.display = "none";
            document.getElementById("name").innerHTML=product;
            document.getElementById("description").innerHTML=description;
            modal.style.display = "block";
          }else{
            document.getElementById("noclaims").style.display = "none";
            document.getElementById("claims").style.display = "block";
            document.getElementById("claims").innerHTML="View "+data.length+" claims for this product";
            document.getElementById("name").innerHTML=product;
            document.getElementById("description").innerHTML=description;
            document.getElementById("claimsBtn").action="/products/claims/"+productid;
            modal.style.display = "block";
          }
      })  
  
    //close out of modal either when clicking 'x' or when clicking outside of the modal
    closeBtn.onclick = function() {
      modal.style.display = "none";
    }
    window.onclick = function(event) {
      if (event.target == modal) {
      modal.style.display = "none";
      }
    }
  }//end modal()
  
</script>


<%- include("partials/footer") %>

