<!-- EDITABLE LIST OF ALL CLAIMS RELATED TO A PRODUCT TYPE  -->

<%- include("partials/header") %>

<% if (locals.claims) { %> 
  <h1>
    <%=claims[0].product%> Claims
  </h1>
<table class="table">
  <thead>
    <tr>
      <th></th> <!--   leaving this first col empty to accomidate the rows to follow that have an edit button here    -->
      <th>Customer</th>
      <th>Issue</th>
      <th>Status</th>
      <th>Resolution</th>
      <th>Date Opened</th>
      <th>Date Closed</th>
      <th>Technician</th>
    </tr>
  </thead>
  <tbody>
  <!-- each row populates data for that claim    -->
  <% claims.forEach(result=>{ %>
  <% var dateOpened = new Date(result.dateopened) %>
  <% var dateOpened = dateOpened.getDate() + "/" +  (dateOpened.getMonth()+1) + "/" + dateOpened.getFullYear() %>
  <% var dateClosed = new Date(result.dateopened) %>
  <% var dateClosed= dateClosed.getDate() + "/" +  (dateClosed.getMonth()+1) + "/" + dateClosed.getFullYear() %>
    <tr>
      <td><div class="dropdown">
          <button class="dropdown-toggle" type="button" data-toggle="dropdown">Edit
          <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <% if (result.resolution==='unresolved') { %> <!--  add Resolve dropdown option if condition   -->
            <li><a href="#">Resolve</a></li>
            <%}%>
            <% if (result.status==='Closed') { %> <!--  add Re-open dropdown option if condition   -->
            <li><a href="">Re-open</a></li>
            <%}%>
            <% if (result.resolution!='unresolved' & result.status==='Open' ) {%> <!--  add Close dropdown option if condition   -->
            <li><a href="#">Close</a></li>
            <%}%>
            <li><a href='/edit/<%=result.claimid%>'>Edit Claim</a></li>  <!--  add Edit dropdown option  -->
          </ul>
        </div></td>
      <td><%=result.customer%></td>
      <td><%=result.issue%></td>
      <td><%=result.status%></td>
      <td><%=result.resolution%></td>
      <td><%=dateOpened%></td>
      <td><%=dateClosed%></td>
      <td><%=result.employee%></td>
    </tr>   
  <%})%> <!--  end claims for loop  -->
  </tbody>
</table>
<% } %>
