<%- include("partials/header") %>

<% if (locals.products) { %> 
<h1>
  Products
</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Unit Cost</th>
    </tr>
  </thead>
  <tbody>
  <% products.forEach(result=>{ %>
    <tr > 
      <td><input type="button" class="clickable-row" onclick="getId(this)" name='<%=result.description%>,<%=result.productid%>' value='<%=result.name%>'></td>
      <td><input type="button" class="clickable-row" onclick="getId(this)" name='<%=result.description%>,<%=result.productid%>' value='<%=result.unitcost%>'></td>
    </tr>
  <%})%>
  <% } %>
  </tbody>
 
    
<div id="descriptionModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>Some text in the Modal..</p>
  </div>

</div>
  
  <button><a href="/">Return</a></button>

  
<script type=text/javascript>

  
  function  getId(element) {
    var info=element.name.split(",")[0];
    // alert("row" + element.parentNode.parentNode.rowIndex + 
    // " - column" + element.parentNode.cellIndex + info );
    var modal = document.getElementById("descriptionModal");
    modal.style.display = "block";
    
}
</script>


<%- include("partials/footer") %>

