<!-- SORTABLE, CLICKABLE LIST OF ALL PRODUCTS  -->

<%- include("partials/header") %>

<% if (locals.products) { %> 
<h1>
  Products
</h1>
<p>
  Goals for this page: view product details ✓, redirect to claims for selected product ✓ 
</p>
  
  <div class="dropdown"> <!-- dropdown is a bootstrap class p sure, so is dropdown menu-->
    <b>Sort by:</b>
    <% if (locals.sort) { %>
    <button class="dropdown-toggle" type="button" data-toggle="dropdown"><%=sort.charAt(0).toUpperCase()+ sort.slice(1).toLowerCase()%><span class="caret"></span></button>
    <%}else{%>
        <button class="dropdown-toggle" type="button" data-toggle="dropdown"><span class="caret"></span></button>
    <%}%>
    <ul class="dropdown-menu">
      <li><a href='/products/asc'>Ascending Name</a></li>
      <li><a href='/products/desc'>Descending Name</a></li>
      <li><a href='/products/greatest'>Most Expensive</a></li>
      <li><a href='/products/least'>Least Expensive</a></li>
     </ul>
  </div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Unit Cost</th>
    </tr>
  </thead>
  <tbody>
  <% products.forEach(result=>{ %>
    <tr > 
      <!--  ** using 'name' attribute to access related variables through javascript function **    -->
      <!--  these columns are actually buttons whose button features i removed with css   -->
      <td><input type="button" class="clickable-row" onclick="modal(this)" name='<%=result.description%>;<%=result.productid%>;<%=result.name%>' value='<%=result.name%>'></td>
      <td><input type="button" class="clickable-row" onclick="modal(this)" name='<%=result.description%>;<%=result.productid%>;<%=result.name%>' value='<%=result.unitcost%>'></td>
    </tr>
  <%})%>
  <% } %>
  </tbody> 
</table>

<!-- Modal div -->
<div id="descriptionModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span><!-- close button -->
    <div class="d-flex justify-content-center flex-column">
      <h2 id="name" >Product Name</h2>
      <p id="description">Product description</p>
      <form id="claimsBtn" method="get">
        <button type="submit" id="claims">View Claims for this product</button>  <!-- need button to be in a form to later redirect by setting form's action in javascript below -->
      </form>
     <p id="noclaims">No claims for this product</p> <!-- displays if button above is not (controlled in javascript below) -->
    </div>
  </div>
</div>


<script type=text/javascript>
 
  function modal(element) {
    //grabbing element information from html to populate modal depending on which product row was selected
    var product=element.name.split(";")[2];
    var productid=element.name.split(";")[1];
    var description=element.name.split(";")[0];
    var modal = document.getElementById("descriptionModal"); 
    var closeBtn = document.getElementsByClassName("close")[0];

    
    fetch('https://ejs-views-practice.glitch.me/api/claims/products/'+element.name.split(";")[1])
        .then((resp) => resp.json()) //transform the data into json for workability 
        .then(function(data) {
          //IF return no claims associated with this product, show the modal without providing a view claims button 
          if (data.length===0){ //modal without button 
            document.getElementById("noclaims").style.display = "block";
            document.getElementById("claims").style.display = "none";
            document.getElementById("name").innerHTML=product;
            document.getElementById("description").innerHTML=description;
            modal.style.display = "block";
          }else{ //modal with button 
            document.getElementById("noclaims").style.display = "none";
            document.getElementById("claims").style.display = "block";
            document.getElementById("claims").innerHTML="View "+data.length+" claims for this product";
            document.getElementById("name").innerHTML=product;
            document.getElementById("description").innerHTML=description;
            document.getElementById("claimsBtn").action="/products/claims/"+productid;
            modal.style.display = "block";
          }
      })  
  
    //close out of modal either when clicking 'x' 
    closeBtn.onclick = function() {
      modal.style.display = "none";
    }
    //or close modal when clicking outside of the modal
    window.onclick = function(event) {
      if (event.target == modal) {
      modal.style.display = "none";
      }
    }
  }//end function modal(element)
  
</script>


<%- include("partials/footer") %>

