<%- include("partials/header") %>

<% if (locals.products) { %> 
<h1>
  Products
</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Unit Cost</th>
    </tr>
  </thead>
  <tbody>
  <% products.forEach(result=>{ %>
    <tr > 
      <td><input type="button" class="clickable-row" onclick="getId(this)" name='<%=result.description%>,<%=result.productid%>' value='<%=result.name%>'></td>
      <td><input type="button" class="clickable-row" onclick="getId(this)" name='<%=result.description%>,<%=result.productid%>' value='<%=result.unitcost%>'></td>
    </tr>
  <%})%>
  <% } %>
  </tbody>
 
    
<div id="descriptionModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p id="description">Some text in the Modal..</p>
  </div>

</div>
  
  <button><a href="/">Return</a></button>

  
<script type=text/javascript>

  
  function  getId(element) {
    var span = document.getElementsByClassName("close")[0];
    var info=element.name.split(",")[0];
    var modal = document.getElementById("descriptionModal");
    document.getElementById("description").innerHTML=info;
    modal.style.display = "block";
    
    span.onclick = function() {
      modal.style.display = "none";
    }
    window.onclick = function(event) {
      if (event.target == modal) {
      modal.style.display = "none";
      }
    }
}
</script>


<%- include("partials/footer") %>

