<!-- SORTABLE, EDITABLE LIST OF ALL CLAIMS RELATED TO A PRODUCT TYPE  -->

<%- include("partials/header") %>

<% if (locals.claims) { %> 
  <h1>
    <%=claims[0].product%> Claims
  </h1>

  <div class="dropdown"> <!-- dropdown is a bootstrap class p sure, so is dropdown menu-->
    <b>Sort by:</b>
    <% if (locals.sort) { %>
    <button class="dropdown-toggle" type="button" data-toggle="dropdown"><%=sort.charAt(0).toUpperCase()+ sort.slice(1).toLowerCase()%><span class="caret"></span></button>
    <%}else{%>
    <button class="dropdown-toggle" type="button" data-toggle="dropdown"><span class="caret"></span></button>
    <%}%>
    <ul class="dropdown-menu">
      <li><a href='/claims/<%=claims[0].productid%>/sortby/customer'>Customer</a></li>
      <li><a href='/claims/<%=claims[0].productid%>/sortby/issue'>Issue</a></li>
      <li><a href='/claims/<%=claims[0].productid%>/sortby/status'>Status</a></li>
      <li><a href='/claims/<%=claims[0].productid%>/sortby/resolution'>Resolution</a></li>
      <li><a href='/claims/<%=claims[0].productid%>/sortby/dateopened'>Date Open</a></li>
      <li><a href='/claims/<%=claims[0].productid%>/sortby/employee'>Technician</a></li>
     </ul>
  </div>

<table class="table">
  <thead>
    <tr>
      <th></th> <!--   leaving this first col empty to accomidate the rows to follow that have an edit button here    -->
      <th>Customer</th>
      <th>Issue</th>
      <th>Status</th>
      <th>Resolution</th>
      <th>Date Opened</th>
      <th>Date Closed</th>
      <th>Technician</th>
    </tr>
  </thead>
  <tbody>
  <!-- each row populates data for that claim    -->
  <% claims.forEach(result=>{ %>
  <% var dateOpened = new Date(result.dateopened) %>
  <% var dateOpened = dateOpened.getDate() + "/" +  (dateOpened.getMonth()+1) + "/" + dateOpened.getFullYear() %>
  <% var dateClosed = new Date(result.dateopened) %>
  <% var dateClosed= dateClosed.getDate() + "/" +  (dateClosed.getMonth()+1) + "/" + dateClosed.getFullYear() %>
    <tr>
      <td>
        <div class="dropdown">
          <button class="dropdown-toggle" type="button" data-toggle="dropdown">Edit
          <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <% if (result.resolution==='unresolved') { %> <!--  add Resolve dropdown option if condition   -->
            <li><a href="#">Resolve</a></li>
            <%}%>
            <% if (result.status==='Closed') { %> <!--  add Re-open dropdown option if condition   -->
            <li><a id="myLink" href="#" onclick="openClaim(<%=result.claimid%>)">Re-open</a></li>
            <%}%>
            <% if (result.resolution!='unresolved' & result.status==='Open' ) {%> <!--  add Close dropdown option if condition   -->
            <li><a href="#" onclick="closeClaim('<%=result.claimid%>')">Close</a></li>
            <%}%>
            <li><a href='/edit/<%=result.claimid%>'>Edit Claim</a></li>  <!--  add Edit dropdown option  -->
          </ul>
        </div>
      </td>
      <td><%=result.customer%></td>
      <td><%=result.issue%></td>
      <td><%=result.status%></td>
      <td><%=result.resolution%></td>
      <td><%=dateOpened%></td>
      <td><%=dateClosed%></td>
      <td><%=result.employee%></td>
    </tr>   
  <%})%> <!--  end claims for loop  -->
  </tbody>
</table>
<% } %>


<script type=text/javascript>

function closeClaim(id){
    fetch('https://ejs-views-practice.glitch.me/api/claims/update', {
        headers:{
          "content-type":"application/json",
        },
        body: {
          claimid: id,
          status: "Closed"
        },
        method: 'POST'
    }).then(resp=>{
       window.location.reload();//so changes render
    }, err=>{
      console.log(err);
    })
  }

function openClaim(id){
    fetch('https://ejs-views-practice.glitch.me/api/claims/update', {
        headers:{
          "content-type":"application/json",
        },
        body: JSON.stringify({
          claimid: id,
          status: "Open"
        }),
        method: 'POST'
    }).then(resp=>{
       window.location.reload();//so changes render
    }, err=>{
      console.log(err);
    })
  }


</script>