<html lang="en">
<head>
  <script src="/static/script.js"></script>
  <!--   BOOTSTRAP -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="/style.css" type="text/css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body id= "home" class="container">
    <h1 id= "hometitle" class = "h1 text-center mt-5">
      Claim #<%= data[0].claimid %>
    </h1>
  <div class = "row pt-2">
    <div class = "col-md-4 ">
      Employee: <%= data[0].employee %><br>
      Customer: <%= data[0].customer%>
    </div>
    <div class = "col-md-4">
      Product: <%= data[0].product %><br>
    </div>
    <div class = "col-md-4">
      Issue: <%= data[0].issue%><br>
      Resolution: <%= data[0].resolution %><br>
    </div>
  </div>
  <div class = "row pt-2">
    <div class = "col-md-4">
      Description: <%= data[0].claimdescription %><br>
      Status: <%= data[0].status %><br>
    </div>
    <div class = "col-md-4">
      <% if (claimtype === "employeeclaims") { %>
       <form action="/supportviews/createcomment/<%= id %>/<%= data[0].claimid %>" method="GET">
          <input id="homebtn" class = "btn btn-success w-50 h-50 responsive-width" type="submit" value="Add Comment">
       </form><br>
      <%} else { %>
      <% } %>
    </div>
    <div class = "col-md-4">
      <form action="/supportviews/<%= claimtype%>/<%= id %>" formmethod"GET">
          <input  id= "homebtn" class = "btn btn-success h-50 responsive-width" type="submit" value="Back to <%= title %> Claims">
      </form>
    </div>
  </div>
  <div class = "row pt-2">
    <div class = "col-md-4 ">
    <% if (claimtype === "employeeclaims") { %>
      <div class="dropdown">
          <button id = "homebtn" class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown">Edit
          <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <% if (data[0].resolution==='unresolved') { %> <!--  add Resolve dropdown option if condition   -->
            <li><a href="#" onclick="resolveModal('<%=data[0].claimid%>')">Resolve</a></li>
            <%}%>
            
          </ul>
        </div>
    <%} else { %>
    <% } %>
    </div>
    <h2>
      Comments
  </h2>

    <table class="table">
      <tbody><tr><th>Comment</th><th>Date</th></tr>
        <% data.forEach(function(datum){ %>
        <% var date = new Date(datum.date) %>
        <% var date = (date.getMonth()+1) + "/" + date.getDate() + "/" +  date.getFullYear() %>
        <tr>
          <td><%= datum.commentdescription %></td>
          <td><%= date %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
    
    
  <!-- Modal div -->
<div id="descriptionModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span><!-- close button -->
    <div class="d-flex justify-content-center flex-column">
      <form id="resolveform" value="">  
      <div>
        <% if (locals.resolutions) { %>  
        <div class = "row mt-3">
          <div class = "col-sm-4">
            <b>Resolution: </b>
          </div>
          <div class = "col-sm-4">
            <select id="resolutionList">
           <!--  keeping the selected letter visible in dropdown box -->
            <option value="" disabled selected hidden>unresolved </option> <!--  keeping the selected resolution visible in dropdown box -->
            <% resolutions.forEach(resolution=>{ %>
            <option value='<%=resolution.resolutionid%>'><%=resolution.name%></option>
            <% } )%>
        </select>
          </div>
        </div>
        
        <% } %>
        <div class = "row mt-3">
          <div class = "col-sm-4">
        <button id = "homebtn" class = "btn btn-success w-50 responsive-width mb-3" onclick="addComment()">Add Comment</button>
        <p id="addComment" style="display:none" ><input value="" id="comment" type="text" ></p>
          </div>
          <div class = "col-sm-4">
          <button id = "homebtn" class = "btn btn-success responsive-width" onclick="resolve();">Resolve Claim</button>
            </div>
      </div>
      
      </form>
    </div>
  </div>
</div>
  
  </body>
    
      <script type=text/javascript>
  
  function addComment(){
    document.getElementById("addComment").style.display = "block";
  }
  
  function resolve(){
    var resolution = document.getElementById('resolutionList').value;
    var claim = document.getElementById('resolveform').value
    var comment = document.getElementById('comment').value;
    if (comment != ""){
      //Send comment
      fetch('https://techmagic.glitch.me/api/claims/comments', {
        headers:{
          "content-type":"application/json",
        },
        body: JSON.stringify({
          claimid:claim,
          description:comment,
          employeeid: 1
        }),
        method: 'POST'
        }).then(resp=>{
        }, err=>{
          console.log(err);
        })
    }
    fetch('https://techmagic.glitch.me/api/resolutions/update/close', {
        headers:{
          "content-type":"application/json",
        },
        body: JSON.stringify({
          resolutionid: resolution,
          claimid: claim
        }),
        method: 'PUT'
    }).then(resp=>{
    }, err=>{
      console.log(err);
    })
    window.location.reload();//so changes render
  }
  
  function resolveModal(ele){
    var modal = document.getElementById("descriptionModal"); 
    var closeBtn = document.getElementsByClassName("close")[0];
    document.getElementById("resolveform").value=ele
    modal.style.display = "block";
    //close out of modal either when clicking 'x' 
    closeBtn.onclick = function() {
      modal.style.display = "none";
    }
    //or close modal when clicking outside of the modal
    window.onclick = function(event) {
      if (event.target == modal) {
      modal.style.display = "none";
      }
    }
  }
  
  function closeClaim(id, prod){
   fetch('https://techmagic.glitch.me/api/claims/update', {
        headers:{
          "content-type":"application/json",
        },
        body: JSON.stringify({
          claimid: id,
          status: "Closed"
        }),
        method: 'PUT'
    }).then(resp=>{
    }, err=>{
      console.log(err);
    })
    window.location.reload();//so changes render
  }
  
  function openClaim(id, prod){
    fetch('https://techmagic.glitch.me/api/claims/update', {
        headers:{
          "content-type":"application/json",
        },
        body: JSON.stringify({
          claimid: id,
          status: "Open"
        }),
        method: 'PUT'
    }).then(resp=>{
    }, err=>{
      console.log(err);
    })
    window.location.reload();//so changes render
  }

</script>

<%- include("partials/footer") %>