<html lang="en">

<%- include("partials/supportHeader") %>

  <body id="home" class="container">
    <h1 id= "hometitle" class = "h1 text-center mt-5">Claims for <%= title %> <%= id %></h1>
    
  <div class = "row">
    <div class = "col-sm-6">
    <form action="/supportviews/<%= claimtype%>/<%= id %>/status" formmethod="GET">
      <input type="radio" id="Open" name="status" value="Open">
      <label for="Open">Open</label><br>
      <input type="radio" id="Closed" name="status" value="Closed">
      <label for="closed">Closed</label><br>
      <input type="submit" value="Submit" id = "homebtn" class = "btn btn-success h-50" >
    </form><br>
  </div>
    <div class = "col-sm-6">
      <form action="/supportviews/<%= claimtype%>/<%= id%>/date" formmethod="GET">
      <input type="radio" id="Oldest" name="order" value="asc">
      <label for="Oldest">Oldest</label><br>
      <input type="radio" id="Newest" name="order" value="desc">
      <label for="Newest">Newest</label><br>
      <input type="submit" value="Submit" id = "homebtn" class = "btn btn-success h-50">
    </form><br>
    </div>
  <form action="/supportviews/<%= claimtype%>/<%= id%>" formmethod"GET">
      <input type="submit" value="Reset" id = "homebtn" class = "btn btn-success h-50">
    </form><br>
  </div>
    <% if (claims) { %>
    <p>You have <%= claims.length %> claims.</p>
    <table class="table">
      <tbody><tr><th>ID</th><th>Customer</th><th>Product</th><th>Status</th><th>Date Opened</th><th>Action</th></tr>
        <% claims.forEach(function(claim){ %>
        <% var dateOpened = new Date(claim.dateopened) %>
        <% var dateOpened = (dateOpened.getMonth()+1) + "/" + dateOpened.getDate() + "/" +  dateOpened.getFullYear() %>
        <tr>
          <td><%= claim.claimid %></td>
          <td><%= claim.customer %></td>
          <td><%= claim.product %></td>
          <td><%= claim.status %></td>
          <td><%= dateOpened %></td>
          <td><form action="/supportviews/<%= claimtype%>/claim/<%= claim.claimid%>" method="GET"><input type="submit" value="See Details" id = "homebtn" class = "btn btn-success h-50"></form><br><br></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
    <% } else { %>
    <p>There are no books in the database.</p>
    <% } %>
  
  
  
  
    <!-- include the Glitch button to show what the webpage is about and
to make it easier for folks to view source and remix -->
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.glitch.me/button.js"></script>
  </body>


  
<%- include("partials/footer") %>