<html lang="en">
<head>
  <script src="/static/script.js"></script>
  <!--   BOOTSTRAP -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="/style.css" type="text/css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body id= "home" class="container">
    <h1 id= "hometitle" class = "h1 text-center mt-5">
      Claim #<%= data[0].claimid %>
    </h1>
  <div class = "row pt-2">
    <div class = "col-md-4 ">
      Employee: <%= data[0].employee %><br>
      Customer: <%= data[0].customer%>
    </div>
    <div class = "col-md-4">
      Product: <%= data[0].product %><br>
    </div>
    <div class = "col-md-4">
      Issue: <%= data[0].issue%><br>
      Resolution: <%= data[0].resolution %><br>
    </div>
  </div>
  <div class = "row pt-2">
    <div class = "col-md-4">
      Description: <%= data[0].claimdescription %><br>
      Status: <%= data[0].status %><br>
    </div>
    <div class = "col-md-4">
      <% if (claimtype === "employeeclaims") { %>
       <form action="/supportviews/createcomment/<%= id %>/<%= data[0].claimid %>" method="GET">
          <input id="homebtn" class = "btn btn-success w-50 h-50 responsive-width" type="submit" value="Add Comment">
       </form><br>
      <%} else { %>
      <% } %>
    </div>
    <div class = "col-md-4">
      <form action="/supportviews/<%= claimtype%>/<%= id %>" formmethod"GET">
          <input  id= "homebtn" class = "btn btn-success h-50 responsive-width" type="submit" value="Back to <%= title %> Claims">
      </form>
    </div>
  </div>
  <div class = "row pt-2">
    <div class = "col-md-4 ">
    <% if (claimtype === "employeeclaims") { %>
      <div class="dropdown">
          <button id = "homebtn" class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown">Edit
          <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <% if (data[0].resolution==='unresolved') { %> <!--  add Resolve dropdown option if condition   -->
            <li><a href="#" onclick="resolveModal('<%=data[0].claimid%>')">Resolve</a></li>
            <%}%>
            <% if (data[0].status==='Closed') { %> <!--  add Re-open dropdown option if condition   -->
            <li><a id="myLink" href="#" onclick="openClaim('<%=data[0].claimid%>','<%=claims[0].product%>')">Re-open</a></li>
            <%}%>
            <% if (data[0].resolution!='unresolved' & data[0].status==='Open' ) {%> <!--  add Close dropdown option if condition   -->
            <li><a href="#" onclick="closeClaim('<%=data[0].claimid%>','<%=claims[0].product%>')">Close</a></li>
            <%}%>
            <li><a href='/edit/<%=data[0].claimid%>/claims'>Edit Claim</a></li>  <!--  add Edit dropdown option  -->
          </ul>
        </div>
    <%} else { %>
    <% } %>
    </div>
    <h2>
      Comments
  </h2>

    <table class="table">
      <tbody><tr><th>Comment</th><th>Date</th></tr>
        <% data.forEach(function(datum){ %>
        <tr>
          <td><%= datum.commentdescription %></td>
          <td><%= datum.date %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
    
    
  <!-- Modal div -->
<div id="descriptionModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span><!-- close button -->
    <div class="d-flex justify-content-center flex-column">
      <form id="resolveform" value="">  
      <div>
        <% if (locals.resolutions) { %>  
        <div class = "row mt-3">
          <div class = "col-sm-4">
            <b>Resolution: </b>
          </div>
          <div class = "col-sm-4">
            <select id="resolutionList">
           <!--  keeping the selected letter visible in dropdown box -->
            <option value="" disabled selected hidden>unresolved </option> <!--  keeping the selected resolution visible in dropdown box -->
            <% resolutions.forEach(resolution=>{ %>
            <option value='<%=resolution.resolutionid%>'><%=resolution.name%></option>
            <% } )%>
        </select>
          </div>
        </div>
        
        <% } %>
        <div class = "row mt-3">
          <div class = "col-sm-4">
        <button id = "homebtn" class = "btn btn-success w-50 responsive-width mb-3" onclick="addComment()">Add Comment</button>
        <p id="addComment" style="display:none" ><input value="" id="comment" type="text" ></p>
          </div>
          <div class = "col-sm-4">
          <button id = "homebtn" class = "btn btn-success responsive-width" onclick="resolve();">Resolve Claim</button>
            </div>
      </div>
      
      </form>
    </div>
  </div>
</div>
  
  </body>

<%- include("partials/footer") %>